<html xmlns="http://www.w3.org/1999/xhtml" hola_ext_inject="disabled"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notification de connexion à FranceConnect</title>
  <!--[if (gte mso 9)|(IE)]>
  <style type="text/css">
      table {border-collapse: collapse;}
  </style>
  <![endif]-->
</head>
<body style="padding: 0;margin: 0;min-width: 100%;background-color: #ccc;">
<center class="wrapper" style="width: 100%;table-layout: fixed;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">
  <div class="webkit" style="max-width: 600px;background: #fff;">
      <!--[if (gte mso 9)|(IE)]>
      <table width="600" align="center">
          <tr>
              <td>
      <![endif]-->
      <table class="outer" align="center" style="border-spacing: 0;font-family: sans-serif;color: #333;max-width: 600px;width: 100%;margin: 0 auto;">
​
          <tbody>
​
          <tr>
              <td class="inner contents" style="padding: 20px;text-align: left;width: 100%;">
                  <p style="margin: 0 0 10px;line-height: 1.4;font-size: 14px;">Bonjour,</p>
​
                  <p style="margin: 0 0;line-height: 1.4;font-size: 14px;"> Nous venons de vous créer un compte. Pour initialiser ce compte, merci d'utiliser le lien suivant :</p>
​
                  <p style="margin: 0 0 10px;line-height: 1.4;font-size: 14px;"><a>https://<%= locals.baseUrl %>/<%= locals.token %></a></p>
​
                  <p class="text-signature" style="margin: 0 0 10px;line-height: 1.4;font-size: 14px;margin-top: 35px;text-align: right;">Bien cordialement,<br>L'équipe FranceConnect</p>
              </td>
          </tr>
          
          <tr>
              <td class="footer-1" style="padding: 10px 0 5px;text-align: center;vertical-align: middle;background: #363c48;font-size: 11px;color: #fff;">
                  <p style="margin: 0 0 10px;line-height: 1.4;font-size: 11px;color: #fff;">Ce message a été envoyé automatiquement. Nous vous remercions de ne pas y répondre.</p>
              </td>
          </tr>
          <tr>
              <td class="footer-2" style="padding: 20px 0 15px;text-align: center;vertical-align: middle;background: #262a33;font-size: 11px;color: #fff;">
                  <table width="100%" style="border-spacing: 0;font-family: sans-serif;color: #333;">
                      <tbody><tr>
                          <td class="contents-text" style="padding: 0;text-align: right;font-size: 11px;color: #fff;padding-right: 230px;"><p style="margin: 0 0 10px;line-height: 1.4;font-size: 11px;color: #fff;">FranceConnect</p></td>
                      </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
​
          </tbody></table>
      <!--[if (gte mso 9)|(IE)]>
      </td>
      </tr>
      </table>
      <![endif]-->
  </div>
</center>
​
​
</body></html>
