<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include('partials/head.ejs', { title: "413 - Entité trop large" }) %>
  </head>
  <body id="generic-exception">
    <% if (locals.CURRENT_USER !== undefined) { %>
    <% include partials/header.ejs %>
    <% } %>
    <section class="container error_section">
      <div class="card">
        <div class="card-body">
          <p class="error_section_subtitle">
            Oops, il  semblerait que votre requête soit trop lourde<br>
            Votre image doit être inférieure à 1mo
          </p>
          <h1 class="error_title">
            413
          </h1>
          <a href="<%= APP_ROOT %>/" title="Retourner sur la page d'accueil" class="btn">Page d'accueil</a>
        </div>
      </div>
    </section>
  </body>
</html>
