<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= APP_ROOT %>/favicon.ico" />
    <script src="<%= APP_ROOT %>/main.js"></script>
    <link rel="stylesheet" href="<%= APP_ROOT %>/main.css"/>
    <title>500 - Erreur</title>
  </head>
  <body id="internal-server-exception">
    <% if (locals.CURRENT_USER !== undefined) { %>
    <% include partials/header.ejs %>
    <% } %>
    <div class="bsod container">
      <h1 class="neg title"><span class="bg">Error - 500</span></h1>
      <p class="old-font">Une erreur est survenue, pour continuer:</p>
      <p class="old-font">
        * Réessayer dans quelques instants.<br />
        * Retourner sur la page d'accueil.
      </p>
      <div class="link">
        <a class="old-font" href="<%= APP_ROOT %>/" title="Retourner sur la page d'accueil">page d'accueil</a>
      </div>
    </div>
  </body>
</html>
