.apps-env-border {
    height:100%;
    width:100%;
    border-width: 0.5rem;
    border-style: solid;
    background:rgba(255,255,255,  0) ;
    left:0;
    top:0;
    overflow-y: auto;
}

.no-prod {
    border-color: #034ea2;
}

.prod {
    border-color: #ed1c24;
}
  
