.navbar {
  background-color: white;

  .logo img {
    height: 30px;
  }
  .dropdown-menu a:hover {
    background-color: #007bff;
  }
  .fa-git-square {
    font-size: 1.5rem;
  }
  .meta-information-container {
    min-width: 250px;

    .meta-information {
      font-size: 0.8rem;
    }
  }
}
