.fa-toggle-on {
  color: green;
}

.fa-toggle-off {
  color: red;
}

.form-inline .form-control {
  width: 150px;
}

tr {
  cursor: pointer;
  td {
    a {
      i {
        color: #ccc;

        &:hover {
          color: #007bff;
        }
      }
    }

    form {
      :hover {
        color: #212529;
        background-color: rgba(0, 0, 0, 0);

        .fa-trash {
          color: red;
        }
      }

      .btn-action-delete {
        border: none;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}

.item-number {
  border: none;
  border-bottom: #212529;
  width: 10%;
}
