<select id="itemNumberList" class="custom-select-sm custom-select item-number" name="limit">
  <option value="10" <%= limit == '10' ? 'selected' : ''%> ><i>10</i></option>
  <option value="30" <%= limit == '30' ? 'selected' : ''%> ><i>30</i></option>
  <option value="50" <%= limit == '50' ? 'selected' : ''%> ><i>50</i></option>
  <option value="100"<%= limit == '100' ? 'selected' : ''%> ><i>100</i></option>
</select>