<%
// Controls to ease debugging
if (!locals.REQ_QUERY) {
  console.error('your app should expose a `REQ_QUERY` variable via locals.interceptor');
}

if (!locals.queryString) {
  console.error('your app should expose a `queryString` helper via locals.interceptor');
}


// Configurables params
const {
  baseHref = '/',
  total = 0,
  maxItemsPerSide = 4
} = locals;


// Params fetched automatically from global variables
const limit = Number(REQ_QUERY.limit) || 10;
const page = Number(REQ_QUERY.page) || 1;

// Computed params
const maxItems = maxItemsPerSide * 2 + 1
const pageCount = Math.ceil(total / limit);
const itemCount = (pageCount > maxItems) ? maxItems : pageCount;
let start = page - maxItemsPerSide;
if (start < 1) {
    start = 1;
}

let end = page + maxItemsPerSide;
if (end > pageCount) {
  end = pageCount;
}

// Helper function to inject pagination params into href
function getHref(baseHref, page) {
  const newQuery = { ...REQ_QUERY, page, limit };

  return `${baseHref}?${queryString.stringify(newQuery)}`;
}

// Compute items list
const items = [];

// Build real page number buttons
for(let value = start; value <= end; value++) {
  items.push({
    value,
    href: getHref(baseHref, value),
    active: value === page,
 });
}

// Begining ellipse
if (start > 2) {
  items.unshift({ value: '...' });
}

// First page button
if (start > 1) {
  items.unshift({ value: 1, href: getHref(baseHref, 1) });
}

// End ellipse
if (end < pageCount - 1) {
  items.push({ value: '...' });
}

// Last page button
if (end < pageCount - 1) {
  items.push({ value: pageCount, href: getHref(baseHref, pageCount) });
}

// Previous page button
if (page > 1) {
  items.unshift({ value: 'précédente', id: 'previous-link', href: getHref(baseHref, page - 1) });
}

// Next page button
if (page < pageCount) {
  items.push({ value: 'suivante', id: 'next-link', href: getHref(baseHref, page + 1) });
}

%>


<% if(pageCount !== 1) { %>
<ul
  id="pagination-container"
  class="pagination justify-content-center flex-wrap"
>
  <% items.forEach(item => { %>
    <li class="page-item <%= item.active ? 'active': '' %>">
      <a
        class="page-link"
        <% if(item.id) { %>id="<%= item.id %>"<%}%>
        <% if(item.href) { %>href="<%= item.href %>"<%}%>
      >
        <%= item.value %>
      </a>
    </li>

  <% }) %>
</ul>
<% } %>