.fa-toggle-on {
  color: green;
}

.fa-toggle-off {
  color: red;
}

.form-inline .form-control {
  width: 150px;
}

tr {
  cursor: pointer;
  td a {
    margin-left: 10px;

    i {
      color: #CCC;

      &:hover {
        color: #007bff;
      }
    }
  }
}

.dropdown-menu {
  max-height: 555px;
  overflow-y: auto;
}
