@import './list';
@import './login';

html, body {
    height: 100%;
    margin: 0px;
}

body {
    /* Made using http://www.heropatterns.com */
    background-color: #ffffff;
    background-image: url("../images/background.svg");
}

.container {
    height: 100%;
}

.logo {
    padding: 10px;
}

.header img {
    width: 100%;
}

.meta-information {
    font-size: 0.7rem;
}
