@import './login';
@import './list';
@import './modal';
@import './constants.less';
@import '../../../shared/public/style/exception.less';

html, body {
    height: 100%;
    margin: 0px;
}

body {
    /* Made using http://www.heropatterns.com */
    background-color: #ffffff;
    background-image: url("../images/background.svg");
}

.logo img {
  height: 30px;
}

.navbar {
  background-color: white;
}

.header img {
    width: 100%;
}

.meta-information-container {
  min-width: 250px;

  .meta-information {
    font-size: 0.8rem;
  }
}

.fa-git-square {
  font-size: 1.5rem;
}

.navbar {
  background-color: white;
}

.pad-15 {
  padding-left: 15px;
  padding-right: 15px;
}

#uppercase-icon,
#number-icon, 
#lowercase-icon, 
#length-icon, 
#special-character-icon {
  &:before {
    display: inline-block;
    width: 1.2em;
    content: "\f00d";
    color: @red-color;
  }
  
  &.valid-password {
    &:before {
      display: inline-block;
      width: 1.2em;
      content: "\f00c";
      color: @green-color;
    }
  }
}
