@import './login';

html {
	height: 100%;
	margin: 0px;

	body {
		height: 100%;
		margin: 0px;
		background-color: #ffffff;
		/* Made using http://www.heropatterns.com */
		background-image: url("../images/background.svg");
		
		.navbar {
			background-color: white;

			.logo {
				padding: 10px;

				img {
					height: 30px;
				}
			}
		}
		.input-group-append {
			>.input-group-text.fa {
				border-top-right-radius: .25rem !important;
				border-bottom-right-radius: .25rem !important;
			}
		}
	}
}
