<select id="charts-list" name="chartList" data-init="chartsList" class="custom-select custom-select-sm" data-form="search">
    <option selected>Choisir le type de graphique</option>
    <option data-init="chartsList" value="ActionsFiRangeByWeek">Total des actions pour un FI</option>
    <option data-init="chartsList" value="compteActif">Nombre de comptes actifs</option>
    <option data-init="chartsList" value="compteDesactive">Nombre de comptes désactivés</option>
    <option data-init="chartsList" value="repartionConnexionFiPourUnFS">Repartition des connexions par fi</option>
    <option data-init="chartsList" value="nombreFsEnProduction">Nombre de FS en production</option>
    <option data-init="chartsList" value="nombreUtilisateurs">Nombre d’utilisateurs depuis l’origine</option>
    <option data-init="chartsList" value="nombreUtilisateursUnique">Nombre d’utilisateurs unique chaque mois</option>
    <option data-init="chartsList" value="nombreConnexionMensuelle">Nombre de connexions chaque mois</option>
    <option data-init="chartsList" value="nouveauUtilisateursMensuelle">Nombre de nouveaux utilisateurs chaque mois</option>
    <option data-init="chartsList" value="RepartionConnexionParFs">Répartition des connexions par FS</option>
    <option data-init="chartsList" value="Top15FsVolumeConnexion">15 FS générant les plus gros volumes de connexions</option>
    <option data-init="chartsList" value="partConnexionParFiPourTop15Fs">Part de connexion par FI de chacun de ces 15 FS</option>
</select>